body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f5f7fa;
  color: #333;
  line-height: 1,8;
  margin: 40px;
}

h1 {
  color: #1e3a8a;
  text-align: center;
}

h2 {
  color: #3662c0;
  margin-top: 40px;
}

p {
  background-color: #ffffff;
  padding: 15px;
  border-radius: 6px;
}

ul {
  list-style-type: n0ne;
  padding: 0;
}

li {
    width: 500px;
  background-color: #ffffff;
  padding: 15px;
  margin-bottom: 15px;
  border-left: 5px solid #3662c0;
}

a {
   color: #0f1bbd;
  text-decoration: none;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
  color: #1444c5;
  
}


.btn-retour {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #ebebeb;
  color: white;
}

.btn-retour:hover {
  background-color: #ffffff;
  transform: translateY(-2px);
}
.logo {
  display: block;
  max-width: 180px;
  margin: 20px auto;
}
.container {
  max-width: 1000px;
  margin: auto;
}

